#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vspscc
*.VC.db
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr


# Ignore folders
[Bb]in
[Dd]ebug*/
[Rr]elease*/
libs/
bin/
obj/
assets/


# proj.android
.classpath
.project
.cproject
proj.android/assets
proj.android/bin
proj.android/gen
proj.android/libs
proj.android/local.properties
proj.android/obj
cocos2d/cocos/platform/android/java/bin
cocos2d/cocos/platform/android/java/gen
cocos2d/cocos/platform/android/java/libs
cocos2d/cocos/platform/android/java/local.properties
cocos2d/cocos/platform/android/java/res